

html {
  background: url(./assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Inknut Antiqua', serif;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  font-family: 'Inknut Antiqua', serif;
  opacity: 0.5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input[type=email] {
  font-size: 16px;
  color: #000;
  padding-left: 15px;
  font-family: 'Inknut Antiqua', serif;
}

.taiwan {
  position: absolute;
  top: 35px;
  right: 17%;
  z-index: -10;
}

.logo {
  margin-top: 53px;
  margin-left: 125px;
}

.mobileLogo {
  display: none;
}

.inputGroup {
  display: inline-grid;
  margin-left: 17%;
  margin-top: 30%;
}

.emailInput {
  width: 400px;
  height: 48px;
  border: 2px solid #231815;
}

.button {
  width: 110px;
  height: 52px;
  background-color: #231815;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-left: 7px;
  line-height: 50px;
  cursor: pointer;
  z-index: 200;
}

.btnBrown {
  width: auto;
  height: 52px;
  background-color: #6B4E3D;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-left: 24px;
  cursor: pointer;
  z-index: 200;
  border-width: 0;
  padding-left: 21px;
  padding-right: 21px;
}

.btnBrownLeft {
  composes: btnBrown;
  margin-left: 0px;
}

.btnBrownInfo {
  composes: btnBrownLeft;
}

.btnBrownRight {
  composes: btnBrown;
}

.buttonGroup {
  margin-top: 23px;
}

.image {
  width: 200px;
  height: auto;
  margin-left: 20px;
  margin-top: 65px;
  cursor: pointer;
}

.selectedImage {
  composes: image;
  margin-top: 40px;
  width: 600px;
}

.ocrBox {
  width: 600px;
}

.navBox {
  border-top: 4px solid #352D2A;
  width: 76px;
  padding-left: 131px;
  text-align: right;
  margin-left: 96px;
  font-weight: 700;
  color: #352D2A;
  cursor: pointer;
  font-size: 18px;
}

.navBoxItem:hover {
  border-bottom: 2px solid #352D2A;
}

.sectionRight {
  z-index: 50;
  float: right;
  margin-top: 50px;
  width: 549px;
  overflow: hidden;
  line-height: 24px;
}

.sectionLeft {
  position: absolute;
  display: flex;
  width: 980px;
  margin-top: 700px;
}

.doc1Img {
  margin-left: 0;
}

.doc2Img {
  transform: rotate(-270deg);
  margin-left: -285px;
}

.doc3Img {
  z-index: -100;
  position: absolute;
  left: 80%;
}

.fishImg {
  margin-top: 250px;
}

.sectionTitle {
  font-size: 24px;
  width: 256px;
  font-family: PingFangTC-Medium;
  line-height: 37px;
}

.sectionTitle2 {
  composes: sectionTitle;
  margin-top: 102px;
}

.sectionLeftContent {
  margin-left: 120px;
  margin-top: 55px;
  font-family: PingFangTC-Regular;
}

.sectionItem {
  line-height: 28px;
}

.sectionItemUSA {
  composes: sectionItem;
}

.sectionItemGroups {
  composes: sectionItem;
  border: 2px solid #352D2B;
  border-radius: 2px;
  width: 384px;
  height: 43px;
  font-size: 24px;
  line-height: 42px;
  padding-left: 5px;
}

.sectionItemNarrow {
  composes: sectionItem;
  width: 467px;
}

.sectionLeftUSA {
  position: absolute;
  display: flex;
  top: 1940px;
  width: 99%;
  overflow: hidden;
}

.sectionLeftContent2 {
  width: 1102px;
  height: 523px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: PingFangTC-Regular;
  margin-left: -230px;
  margin-top: 65px;
}

.usaImg {
  z-index: 100;
  height: 503px;
}

.innerContent {
  margin-left: 257px;
  margin-top: 52px;
  width: 700px;
}

.gallerySection {
  position: absolute;
  top: 2400px;
  width: 99%;
  overflow: hidden;
}

.footer {
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  padding: 1rem;
  background-color: #352D2A;
  color: #FFFFFF;
  text-align: center;
  font-family: PingFangTC-Regular;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 144px;
}

.footerContent {
  width: 508px;
  margin-left: 33%;
}

@media (max-width: 1346px) and (min-width: 1024px) {
  .doc1Img {
    margin-left: 50%;
  }
}

@media (max-width: 414px) {
  .doc1Img {
    display: none;
  }
  .doc2Img {
    display: none;
  }
  .doc3Img {
    display: none;
  }
  .fishImg {
    display: none;
  }

  .logo {
    display: none;
  }
  .navBox {
    margin-left: 51%;
    padding-left: 40px;
    width: 100px;
    margin-right: 29px;
  }
  .mobileLogo {
    display: block;
    margin-left: 44%;
    margin-top: 23px;
    margin-right: 29px;
    margin-bottom: 5px;
  }
  .taiwan {
    width: 370px;
    margin-top: 81px;
  }

  .sectionRight{
    float: none;
    width: 90%;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sectionLeft {
    position: relative;
    display: block;
    margin-top: 0;
    width: 100%;
  }

  .sectionLeftContent {
    margin-left: 0;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sectionItemNarrow {
    width: 100%;
  }

  .sectionTitle2{
    margin-top: 0;
  }

  .sectionLeftUSA {
    position: relative;
    display: block;
    top: 0;
    overflow: inherit;
  }

  .usaImg {
    width: 300px;
    height: 214px;
    margin-top: 30px;
    position: absolute;
    top: -130px;
  }

  .sectionTitle {
    font-size: 18px;
  }

  .sectionTitleUSA {
    composes: sectionTitle;
  }

  .btnBrown{
    font-size: 15px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .btnBrownRight {
    margin-left: 0;
    margin-top: 20px;
  }

  .btnBrownInfo {
    display: none;
  }

  .sectionLeftContent2 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 130px;
    width: 105%;
    margin-left: -10px;
    height: 665px;
  }

  .innerContent {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    padding-top: 129px;
    text-align: center;
  }

  .sectionTitleUSA {
    margin-left: 10%;
  }

  .sectionLeftUSA {
    width: 100%;
  }

  .sectionItemUSA {
    width: 261px;
    margin-left: 10%;
  }

  .sectionItemGroups {
    width: 273px;
    font-size: 18px;
    margin-left: 10%;
  }

  .gallerySection {
    overflow: inherit;
    top: 2500px;
    margin-left: -8px;
    width: 100%;
  }

  .footer {
    padding-bottom: 70px;
    font-size: 14px;
  }

  .footerContent {
    width: 243px;
    margin-left: 15%;
  }
}
